@import url("https://fonts.googleapis.com/css2?family=Overpass:wght@100;300;400;600;700;800&family=Raleway:wght@100;200;300;400;500;600;700;800;900&display=swap");

* {
  margin: 0;
  padding: 0;
  border: 0;
}

.col-12 {
  padding: 0;
}

/*-----------------Headings and text styling----*/

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  color: #696767;
}

p {
  font-family: "Overpass", sans-serif;
  font-weight: 200;
  color: #696767;
}

a {
  font-family: "Overpass", sans-serif;
  color: #696767;
}

a:hover {
  color: #a0ddbd;
  text-decoration: none;
}

/*----------------- Background Colours ----*/

.bg-color-light-green {
  background-color: #a0ddbd;
}
/*----------------- Navigation----*/

.navbar {
  background-color: #ffffff;
}

.navbar-brand {
  color: #a0ddbd;
  font-size: 1.5em;
  font-weight: 600;
  padding: 0;
}

.navbar-brand img {
  height: 60px;
  padding-right: 10px;
  padding-bottom: 5px;
}

.navbar-toggler {
  padding: 5px 5px;
  font-size: 1.25rem;
  line-height: 1;
  border: 1px solid transparent;
  border-radius: 0.25rem;
  background-color: transparent;
}

.navbar-toggler-icon i {
  color: #848484;
  padding-top: 5px;
}

#navbarNav {
  background-color: #ffffff;
}
/*----------------- Hero Image----*/

#hero-image {
  height: 600px;
  width: 100%;
  background: url("/../assets/images/hero-image.jpg") no-repeat center center
    fixed;
}

/* #cover-text {
  position: absolute;
  top: 40%;
  left: 30%;
  background-color: rgba(160, 221, 189, 0.7);
  height: 200px;
  width: 600px;
  margin: 0 auto;
}

#cover-text h2 {
  padding-top: 30px;
} */

/*----------------- Divider ----*/

.divider {
    color: #848484;
    width: 400px;
    margin: 0 auto;
    border-top: 1px solid rgb(132, 132, 132);
}


.vertical-line {
  border-left: 1px solid #848484;;
  height: 300px;
  margin-left: -3px;
} 

/*----------------- About Us section----*/


/*----------------- Find us section----*/

.find-us-container {
    height: 450px;
}
.find-us-inner-container {
    width: 100%;
    padding: 30px 40px 40px 40px;

}
iframe {
    width: 100%;
    height: 350px;
}


.opening-times-container p {
    font-weight: 400;
    line-height: 1.25;
    font-size: 14px;
}

/*----------------- Footer ----*/

.footer-container p {
  font-weight: 400;
  font-size: 14px;
}

.footer-container a {
  color: #a0ddbd;
}

.footer-container a:hover {
  color: #6ba688;
}

.social-network li {
  display: inline;
}

.social-network i {
  font-size: 25px;
}

#footer-logo {
  height: 70px;
}
