@import url("https://fonts.googleapis.com/css2?family=Overpass:wght@100;300;400;600;700;800&family=Raleway:wght@100;200;300;400;500;600;700;800;900&display=swap");

* {
  margin: 0;
  padding: 0;
  border: 0;
}

/*-----------------Headings and text styling----*/

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Raleway", sans-serif;
  font-weight: 600;
  color: #696767;
}

p {
  font-family: "Overpass", sans-serif;
  font-weight: 300;
  color: #696767;
}

a {
  font-family: "Overpass", sans-serif;
  color: #696767;
}

a:hover {
  color: #a0ddbd;
  text-decoration: none;
  transition: all 200ms ease-in-out;
}

blockquote {
    color: #696767;
    font-family: 'overpass', sans-serif;
}

/*----------------- Background Colours ----*/

.bg-color-light-green {
  background-color: #a0ddbd;
}

/*----------------- Navigation----*/

.navbar {
  background-color: #ffffff;
}

.active {
    color: #a0ddbd;
    font-weight: 600;
}

.navbar a {
  font-family: "Raleway", sans-serif;
}

.navbar-brand {
  color: #a0ddbd;
  font-size: 1.5em;
  font-weight: 600;
  padding: 0;
}

.navbar-brand img {
  height: 60px;
  width: 65px;
  padding-right: 10px;
  padding-bottom: 5px;
}

.navbar-toggler {
  padding: 5px 5px;
}

.navbar-toggler-icon i {
  color: #848484;
  padding-top: 5px;
}

#navbarNav {
  background-color: #ffffff;
}

/*----------------- Hero Image and Background Images----*/

#hero-image {
  background-color: #a0ddbd;
  position: relative;
  height: 750px;
  padding-top: 75px;
  background: url("/roots-cafe/assets/images/hero-image.jpg") no-repeat top
    center fixed;
}

#cover-text {
  background-color: rgba(160, 221, 189, 0.9);
  height: 150px;
  width: 50%;
  position: absolute;
  margin: 0 auto;
  left: 0;
  right: 0;
  top: 250px;
}

#cover-text h3 {
  font-weight: 300;
}

#contact-header {
  background-color: #a0ddbd;
  height: 300px;
  padding-top: 75px;
  background: url("/roots-cafe/assets/images/hero-image.jpg") no-repeat top
    center fixed;
}

#menu-header {
  background-color: #a0ddbd;
  height: 300px;
  padding-top: 75px;
  background: url("/roots-cafe/assets/images/hero-image.jpg") no-repeat top
    center fixed;
}

#visit-header {
  background-color: #a0ddbd;
  height: 300px;
  padding-top: 75px;
  background: url("/roots-cafe/assets/images/hero-image.jpg") no-repeat top
    center fixed;
}

.overlay {
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.6);
}

/*----------------- Divider ----*/

.divider-green {
  width: 400px;
  margin: 0 auto;
  border-top: 2px solid rgb(160, 221, 189);
}

.divider-white {
  width: 400px;
  margin: 0 auto;
  border-top: 2px solid rgb(255, 255, 255);
}

.divider {
  width: 100%;
  border-top: 2px solid rgb(160, 221, 189);
}

/*Borrowed code from W3schools "How to create a vertical line" edited*/
/* .vertical-line {
  border-left: 2px solid #696767;
  height: 300px;
  margin-left: -3px;
} */
/*End of borrowed code from W3schools "How to create a vertical line" edited*/

/*----------------- About Us section----*/

#about-us {
  padding-top: 3rem;
}

.vegetarian-menu-container {
  padding-top: 40px;
}

.sustainable-coffee-container {
  padding-top: 40px;
  padding-bottom: 3rem;
}

.vegetarian-menu-container img {
  width: 100%;
  height: 100%;
}

.sustainable-coffee-container img {
  width: 100%;
  height: 100%;
}

/*----------------- Trip advisor Container ----*/

.trip-advisor-container {
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.trip-advisor-container em {
  font-weight: 600;
}

.trip-advisor-container a {
  color: #ffffff;
}

.trip-advisor-container a:hover {
  color: #6ba688;
}

/*----------------- Instagram Container ----*/

#instagram-outer-container {
  padding-top: 40px;
}

.instagram-container {
  padding-top: 1rem;
  padding-bottom: 2rem;
}

#instagram-container a {
  font-size: 20px;
  color: #a0ddbd;
}

#instagram-container a:hover {
  color: #6ba688;
}

.instagram-grid {
  padding: 10px;
}

.instagram-grid img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.instagram-handle {
  float: right;
}

/*----------------- Footer ----*/

.footer-container p {
  font-weight: 400;
  font-size: 14px;
}

.footer-container a {
  color: #a0ddbd;
}

.footer-container a:hover {
  color: #6ba688;
}

.social-network li {
  display: inline;
}

.social-network i {
  font-size: 25px;
}

/*----------------- Menu Page ----*/

.menu-heading {
  padding-top: 100px;
}

.menu-item {
  text-align: left;
}
.menu-item h5 {
  color: #a0ddbd;
}

.menu-item-price {
  float: right;
  color: #696767;
}

.menu-add-on-list {
  list-style-type: none;
}

.menu-add-on-item {
  font-family: "Overpass", sans-serif;
  color: #696767;
  font-weight: 300;
  font-size: 14px;
}

/*----------------- Contact Us page----*/

.contact-heading {
  padding-top: 100px;
}

#form-container {
  padding: 20px;
}

.form-input {
  margin-bottom: 10px;
}

.form-field {
  width: 100%;
  border: 1px solid #696767;
  padding: 10px;
  border-radius: 10px;
  font-family: "Overpass", sans-serif;
}

.btn-submit {
  background-color: #a0ddbd;
  color: #ffffff;
  border-radius: 20px;
  width: 30%;
  transition: all 200ms ease-in-out;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.2);
}

.btn-submit:hover {
  background-color: #6ba688;
  color: #ffffff;
}

/*---------------- Visit us Page----*/

.visit-heading {
  padding-top: 60px;
}
#visit-us-container {
  padding-top: 100px;
}

#iframe-container {
  width: 100%;
  padding: 40px;
}

iframe {
  width: 100%;
  height: 350px;
}

.opening-times-image-container {
  padding: 40px;
}

.opening-times-container li {
  list-style-type: none;
  font-family: "Overpass", sans-serif;
  color: #696767;
}

.opening-times-image-container img {
  height: 350px;
  width: 100%;
}

.address-container ul {
  list-style-type: none;
  font-family: "Overpass", sans-serif;
  color: #696767;
}

@media screen and (max-width: 768px) {
  .divider-white {
    width: 200px;
    margin: 0 auto;
    border-top: 2px solid rgb(255, 255, 255);
  }

  .divider-green {
    width: 300px;
    margin: 0 auto;
    border-top: 2px solid rgb(160, 221, 189);
  }
  #cover-text {
    height: 150px;
    width: 100%;
  }

  .instagram-handle {
    float: none;
  }

  .sustainable-coffee-container {
    padding-bottom: 2rem;
    padding-top: 20px;
  }

  .vegetarian-menu-container {
    padding-top: 20px;
  }

  .opening-times-container {
    padding-top: 20px;
    margin-bottom: 0;
  }
  .address-container {
    padding-top: 20px;
  }
}
